<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <title>FaeArticlesPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to "My Blog", root_path, :class => "colors-nav" %></li>
          <li><%= link_to "About", root_path, :class => "colors-nav"  %></li>
          <li><%= link_to "Contact", new_contact_form_path, :class => "colors-nav" %></li>
          <li id="testing">Tiffany Cato</li>
        </ul>
      </div>
    </nav>
    <div class="container">
      
    </div>
    <%= yield %>
  </body>
</html>
